@model Testing1.Students

@{
    ViewBag.Title = "Edit Student";
}
<h2>Edit Student Details</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("EditStudent", "School", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EnrollmentDate)

    @Html.Partial("EditingForm", Model)

}
